$primary: red;
$second: rgba(0, 187, 255, 0.412);
//TEXT
//text-primary
$t-p: rgba(0, 0, 0, 0.804);
//text-secondary
$t-s: #999;
//text third
$t-t: rgba(0, 49, 117, 0.694);

//user profile
$user:  #02d90258;
$user-vivid: #02d902a5; 
$peer: #ff1c8e57;
$online: rgba(255, 255, 255, 0.777);